@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme inline {
  --animate-gradient: gradient 8s linear infinite;
  --animate-aurora: aurora 8s ease-in-out infinite alternate;

  @keyframes gradient {
    to {
      background-position: var(--bg-size, 300%) 0;
    }
  }

  @keyframes aurora {
    0% {
      background-position: 0% 50%;
      transform: rotate(-5deg) scale(0.9);
    }
    25% {
      background-position: 50% 100%;
      transform: rotate(5deg) scale(1.1);
    }
    50% {
      background-position: 100% 50%;
      transform: rotate(-3deg) scale(0.95);
    }
    75% {
      background-position: 50% 0%;
      transform: rotate(3deg) scale(1.05);
    }
    100% {
      background-position: 0% 50%;
      transform: rotate(-5deg) scale(0.9);
    }
  }
}

@custom-variant dark (&:where(.dark, .dark *));

/* Disable default cross-fade for the view transition */
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

/* Ensure the new view is always on top, so the circle expands OVER the old view */
::view-transition-new(root) {
  z-index: 2147483646; /* A very high z-index to sit on top */
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: "Inter", sans-serif;
  cursor: none !important;
}

input,
textarea,
select {
  cursor: text !important;
}

@media (hover: none) and (pointer: coarse) {
  #custom-cursor {
    display: none !important;
  }
}