/* Header */
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    width: 1500px;
    margin: 0 auto;
}
header {
    background: transparent;
    padding: 20px;
    height: 120px;
}
.logo-container {
    display: inline-block;
}
.logo-container img {
    width: 240px;
    margin: -60px;
    margin-left: -187px;
}
.nav-container {
    text-align: right;
    padding-top: 53px;
    float: right;
}
nav.header-navigation a {
    font-size: 23px;
    text-decoration: none;
    margin: 36px;
    color: #a3d6ff;
    font-family: fantasy;
}
nav.header-navigation a:hover {
    font-size: 23px;
    text-decoration: none;
    margin: 36px;
    color: white;
    font-family: fantasy;
}
nav.navbar.navbar-expand-md.navbar-dark.fixed-top {
    position: absolute;
}

/* Contact */
section.contact {
    background: url(../images/Contact\ BG.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 131vh;
    text-align: -webkit-center;
    padding-top: 60px;
    margin-top: -170px;
}
section.contact .container {
    margin-right: 140px;
}
.form-container {
    width: 65%;
    display: table-caption;
    margin-right: 380px;
    padding-top: 230px;
}
input[type="text"]:focus-visible, textarea:focus-visible {
    outline: none;
}
textarea#message {
    border: 1px solid white;
    border-radius: 9px;
    width: 810px;
    background: transparent;
    color: white;
    font-weight: bold;
    padding-left: 10px;
    padding-top: 10px;
}
input[type="button"]:hover {
    background: #2b31c0;
}
.form-container h2 {
    font-size: 50px;
    width: 300px;
    padding-bottom: 30px;
    margin-right: 180px;
}
.form-container label {
    float: left;
    padding-bottom: 20px;
    margin-top: 10px;
    color: white;
}
input[type="text"] {
    padding-bottom: 10px;
    width: 810px;
    background: transparent;
    border-color: transparent;
    border-bottom-color: white;
    border-bottom-width: thin;
    color: white;
    font-weight: bold;
}
input[type="button"] {
    font-size: 25px;
    border-style: none;
    background: #a3d6ff;
    padding: 15px;
    border-radius: 100px;
    color: white;
    width: 159px;
    float: right;
    margin-top: 20px;
}
section.contact h2 {
    font-size: 50px;
    margin-bottom: 37px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 100;
    width: 320px;
    color: white;
    margin-left: 230px;
}

/* Footer */
.justify-content-end {
    justify-content: flex-end!important;
    font-size: 34px;
}
.footer-logo img {
    width: 60px;
}
i.bx.bxl-facebook-circle {
    color: #0e8ef2;
}
i.bx.bxl-facebook-circle:hover {
    color: #a3d6ff;
}
i.bx.bxl-twitter {
    color: #1da1f2;
}
i.bx.bxl-twitter:hover {
    color: #a3d6ff;
}
i.bx.bxl-instagram {
    color: #f70062;
}
i.bx.bxl-instagram:hover {
    color: #a3d6ff;
}